@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bkc-login {
  background-color: #F8F8FF;
  background-size: contain;
}

.img-login {
  text-align: center;

}


.bkc-siro {
  background-color: white;
}

.kadomaru {
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
}

.mag-top10 {
  margin-top: 10px;
}

.yoko {
  display: flex;
}

.pad-bottom {
  padding-bottom: 20px;
}

.img-cont {
  margin-top: 100px;
  margin-bottom: 20px;
}

.cont {
  margin: 20px auto;

}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

.a-siro {
  text-decoration: none;
  color: #FFFFFF;
  /* 今回は#000000を指定していますが、好きな色を指定できます */
}

#bgco {
  background-color: #d0e5ff;
}

.sirowaku {
  padding: 2px #ffff;
}

.mag-60 {
  margin-top: 6%;
  margin-bottom: 6%;
}

/* サイドバー */
.sidebar {
  width: 180px;
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
}

/* トップページ */
.table-kintou {
  table-layout: auto;
  width: 100%;
}

.sima:nth-child(odd) {
  background-color: #e6f7ff;
}

.sima:nth-child(even) {
  background-color: #fff;
  /* 偶数行の背景色 */
}


.user_status {
  border-radius: 10px;
  background: #FFF;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

.clor-kuro {
  color: #000;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.yoyaku-sp {
  margin: 15px;
}

.border-none {
  border: none;
  outline: none;
}

.text-left {
  text-align: left;
  padding-left: 25%;
}

/* 掲示板 */
.post-creat {
  background-color: #03AAD2;
  border-radius: 7px;
  text-align: center;
  color: #FFFFFF;
  height: 40px;
  padding: 10px;
}

.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

.search {
  margin-top: 20px;
  border-radius: 10px 0% 0% 10px;
  height: 40px;
  width: 80%;
  outline: none;
  border-color: #f2f2f2;
  background-color: transparent;
}

.search-b {
  background-color: #03AAD2;
  height: 40px;
  width: 19%;
  border-radius: 0px 10px 10px 0px;
  margin-left: -1%;
  border: none;
  margin-bottom: 20px;
}

.like-post {
  background-color: #FF69A3;
  border-radius: 10px;
  width: 49%;
  height: 40px;
  color: #FFFFFF;
  border: none;
}

.my-post {
  margin-left: -1%;
  background-color: #FFCC66;
  border-radius: 10px;
  width: 49%;
  height: 40px;
  color: #FFFFFF;
  border: none;
}

.w100 {
  width: 100%;
}

.w80 {
  width: 80%;
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.main-waku {
  border-bottom: solid #D3D3D3;
  border-width: 0.2px;
  width: 135px;

}

.sub-waku {
  border-bottom: solid #D3D3D3;
  border-width: 0.2px;
  width: 135px;

}

.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  padding: 0 5px;
  border: none;
  background: #03AAD2;
  color: #FFF;
  padding: 5px 8px;
}

.category_kensaku {
  border-bottom: solid #D3D3D3;
  border-width: 0.2px;
  width: 65%;
  text-align: start;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  height: 80vh;
  overflow: scroll;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

.search-s {
  border-radius: 10px;
  height: 40px;
  width: 80%;
  outline: none;
  border: none;
  background-color: #dcdcdc;
}

.p-s {
  margin-top: 10px;
}

.margin-10 {
  margin: 15px;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 280px;
  height: 250px;
  margin: 10px;
  padding: 8px;
  background-color: #FFFFFF;
}

.search_conditions span {
  cursor: pointer;
}

.search_conditions_inner {
  display: none;
  background: transparent;

}

.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

.subject_inner {
  display: none;
}

.subject_after {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.bk-toumei-waku {
  background: transparent;
  border: none;
}

.gray {
  color: #999;
  font-weight: lighter;
}

.check-input {
  margin-left: 5px;
  margin-right: 11px;
  margin-top: 1px;
}

.post-creat-s {
  border: none;
  width: 80%;
  background-color: #03AAD2;
  border-radius: 7px;
  text-align: center;
  color: #FFFFFF;
  height: 40px;
  padding: 10px;
}

.past-date {
  background-color: #f2f2f2;
}

.subbtn {
  margin-left: 15px;
}


.accordion-container {
  position: relative;
  width: 100%;
  border-top: none;
  outline: 0;
  cursor: pointer
}

.accordion-container .accordion-title {
  border-bottom: solid #D3D3D3;
  border-width: 0.2px;
  width: 80%;
}

.accordion-container .accordion-title:hover,
.accordion-container .accordion-title:active,
.accordion-container .content-entry.open .accordion-title {
  background-color: #00aaa7;
  color: white;
}

.accordion-container .accordion-title:hover i:before,
.accordion-container .accordion-title:hover i:active,
.accordion-container .content-entry.open i {
  color: white;
}

.search_conditions {
  position: relative;
}

.search_conditions::after {
  content: "";
  position: absolute;
  right: 1%;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.search_conditions.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

.search-waku {
  border-bottom: solid #D3D3D3;
  border-width: 0.2px;
  width: 135px;

}

.accordion-title {
  position: relative;
}

.accordion-title:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.accordion-title.open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 45%;
}

.accordion-content {
  display: none;
  padding-left: 2.3125em;
}

/* CSS for CodePen */
.accordion-container {
  width: 300px;
  margin: 1.875em auto;
}

.search_area {
  width: 35%;
}
